In [20]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import pandas as pd

In [21]:
df = pd.read_excel('./5_cluster-fix.xlsx')

In [22]:
df.head()

,Tenure Months_left,Location,Device Class,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Payment Method,Monthly Purchase (Thou. IDR)_left,Churn Label,CLTV (Predicted Thou. IDR)_left,Cluster w/o PCA,Clusters w/ PCA,Total Produk,Approach Level
0,1,Jakarta,Mid End,No,No,No,No,No,No,Pulsa,30.485,Yes,5872.1,2,0,0,0
1,13,Jakarta,Mid End,No,No,No,No,No,No,Pulsa,31.070,Yes,3857.1,3,0,0,0
2,9,Jakarta,Mid End,No,No,No,No,No,No,Debit,31.330,Yes,4153.5,3,0,0,0
3,4,Jakarta,Mid End,No,No,No,No,No,No,Digital Wallet,31.525,Yes,2649.4,3,0,0,0
4,1,Jakarta,Mid End,No,No,No,No,No,No,Pulsa,31.525,Yes,3699.8,3,0,0,0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5516 entries, 0 to 5515
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Tenure Months_left                 5516 non-null   int64
 1   Location                           5516 non-null   object
 2   Device Class                       5516 non-null   object
 3   Games Product                      5516 non-null   object
 4   Music Product                      5516 non-null   object
 5   Education Product                  5516 non-null   object
 6   Call Center                        5516 non-null   object
 7   Video Product                      5516 non-null   object
 8   Use MyApp                          5516 non-null   object
 9   Payment Method                     5516 non-null   object
 10  Monthly Purchase (Thou. IDR)_left  5516 non-null   float64
 11  Churn Label                        5516 non-null   object
 12  CLTV (Predicted Thou. IDR)_left    5516 non-null   float64
 13  Cluster w/o PCA                    5516 non-null   int64
 14  Clusters w/ PCA                    5516 non-null   int64
 15  Total Produk                       5516 non-null   int64
 16  Approach Level                     5516 non-null   int64
dtypes: float64(2), int64(5), object(10)
memory usage: 732.7+ KB

In [24]:
map_prod = {
    'No': 0,
    'Yes': 1,
}

map_dev = {
    'Mid End': 0,
    'High End': 1,
}

In [25]:
# Terapkan mapping ke kolom dataframe
# new_df['Device Class'] = new_df['Device Class'].map(map_dev)

# prod_cols = ['Games Product', 'Music Product', 'Education Product', 'Call Center', 'Video Product', 'Use MyApp']
map_prod = {
    'No': 0,
    'Yes': 1,
}

map_dev = {
    'Mid End': 0,
    'High End': 1,
}

prod_cols = ['Games Product', 'Music Product', 'Education Product', 'Video Product']
for col in prod_cols:
    # Terapkan mapping ke kolom dataframe
    df[col] = df[col].map(map_prod)

df.head()

,Tenure Months_left,Location,Device Class,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Payment Method,Monthly Purchase (Thou. IDR)_left,Churn Label,CLTV (Predicted Thou. IDR)_left,Cluster w/o PCA,Clusters w/ PCA,Total Produk,Approach Level
0,1,Jakarta,Mid End,0,0,0,No,0,No,Pulsa,30.485,Yes,5872.1,2,0,0,0
1,13,Jakarta,Mid End,0,0,0,No,0,No,Pulsa,31.070,Yes,3857.1,3,0,0,0
2,9,Jakarta,Mid End,0,0,0,No,0,No,Debit,31.330,Yes,4153.5,3,0,0,0
3,4,Jakarta,Mid End,0,0,0,No,0,No,Digital Wallet,31.525,Yes,2649.4,3,0,0,0
4,1,Jakarta,Mid End,0,0,0,No,0,No,Pulsa,31.525,Yes,3699.8,3,0,0,0

In [26]:
# Mengatur opsi untuk menampilkan semua kolom dan baris
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)  # Untuk menampilkan semua konten dalam kolom teks

c:\ProgramData\Anaconda3\envs\smartcom\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """

In [29]:
df.head()

,Tenure Months_left,Location,Device Class,Games Product,Music Product,Education Product,Call Center,Video Product,Use MyApp,Payment Method,Monthly Purchase (Thou. IDR)_left,Churn Label,CLTV (Predicted Thou. IDR)_left,Cluster w/o PCA,Clusters w/ PCA,Total Produk,Approach Level
0,1,Jakarta,Mid End,0,0,0,No,0,No,Pulsa,30.485,Yes,5872.1,2,0,0,0
1,13,Jakarta,Mid End,0,0,0,No,0,No,Pulsa,31.070,Yes,3857.1,3,0,0,0
2,9,Jakarta,Mid End,0,0,0,No,0,No,Debit,31.330,Yes,4153.5,3,0,0,0
3,4,Jakarta,Mid End,0,0,0,No,0,No,Digital Wallet,31.525,Yes,2649.4,3,0,0,0
4,1,Jakarta,Mid End,0,0,0,No,0,No,Pulsa,31.525,Yes,3699.8,3,0,0,0

In [72]:
dataframes = {}

for i in range(4):
    nama_var = f'{i}'
    temp = df[df['Clusters w/ PCA'] == i]
    dataframes[nama_var] = temp.loc[:, prod_cols]

In [71]:
dataframes.key()

AttributeError: 'dict' object has no attribute 'key'

In [75]:
res = {}
for i in range(4):
    df_assoc = dataframes[f'{i}'].loc[:, prod_cols]
    df_assoc.head()

    frequent_items = apriori(df_assoc, min_support = 0.01,use_colnames = True)
    frequent_items.sort_values('support', ascending=False)

    rules = association_rules(frequent_items, metric = "lift", min_threshold = 1)
    rules.sort_values('confidence', ascending = False, inplace = True)
    res[i] = rules

C:\Users\whisn\AppData\Roaming\Python\Python37\site-packages\mlxtend\frequent_patterns\fpcommon.py:114: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  DeprecationWarning,
C:\Users\whisn\AppData\Roaming\Python\Python37\site-packages\mlxtend\frequent_patterns\fpcommon.py:114: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  DeprecationWarning,
C:\Users\whisn\AppData\Roaming\Python\Python37\site-packages\mlxtend\frequent_patterns\fpcommon.py:114: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  DeprecationWarning,
C:\Users\whisn\AppData\Roaming\Python\Python37\site-packages\mlxtend\frequent_patterns\fpcommon.py:114: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  DeprecationWarning,

In [76]:
res[i].head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
8,(Education Product),(Video Product),0.285714,0.526736,0.184358,0.645251,1.225000,0.033862,1.334083,0.257143
19,"(Education Product, Music Product)",(Video Product),0.085395,0.526736,0.053472,0.626168,1.188771,0.008491,1.265982,0.173621
11,"(Games Product, Music Product)",(Video Product),0.034318,0.526736,0.020750,0.604651,1.147921,0.002674,1.197080,0.133439
7,(Music Product),(Video Product),0.265762,0.526736,0.153232,0.576577,1.094622,0.013246,1.117709,0.117731
2,(Games Product),(Video Product),0.108540,0.526736,0.062251,0.573529,1.088837,0.005079,1.109723,0.091523

In [77]:
res[0].head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
9,"(Education Product, Music Product)",(Games Product),0.062397,0.377668,0.035304,0.565789,1.498112,0.011738,1.433249,0.354621
19,"(Education Product, Video Product)",(Games Product),0.049261,0.377668,0.023810,0.483333,1.279783,0.005205,1.204513,0.229945
15,"(Video Product, Music Product)",(Games Product),0.045156,0.377668,0.021346,0.472727,1.251700,0.004292,1.180284,0.210596
2,(Education Product),(Games Product),0.233169,0.377668,0.108374,0.464789,1.230680,0.020314,1.162778,0.244436
1,(Music Product),(Games Product),0.308703,0.377668,0.142857,0.462766,1.225324,0.026270,1.158400,0.266006

In [78]:
res[1].head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
4,(Education Product),(Video Product),0.227425,0.278707,0.082497,0.362745,1.301529,0.019112,1.131875,0.299871
8,"(Games Product, Video Product)",(Education Product),0.036789,0.227425,0.012263,0.333333,1.465686,0.003896,1.158863,0.329861
10,"(Video Product, Music Product)",(Education Product),0.053512,0.227425,0.016722,0.312500,1.374081,0.004553,1.123746,0.287633
5,(Video Product),(Education Product),0.278707,0.227425,0.082497,0.296000,1.301529,0.019112,1.097408,0.321191
2,(Education Product),(Music Product),0.227425,0.259755,0.065775,0.289216,1.113418,0.006700,1.041449,0.131851

In [79]:
res[2].head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
16,"(Games Product, Video Product, Music Product)",(Education Product),0.279973,0.754087,0.218665,0.781022,1.035718,0.007541,1.123002,0.047896
12,"(Games Product, Video Product)",(Education Product),0.409401,0.754087,0.318120,0.777038,1.030436,0.009396,1.102937,0.050011
3,(Games Product),(Education Product),0.573569,0.754087,0.439373,0.766033,1.015842,0.006852,1.051059,0.036570
8,"(Games Product, Music Product)",(Education Product),0.405313,0.754087,0.309946,0.764706,1.014082,0.004304,1.045129,0.023350
5,(Video Product),(Education Product),0.750000,0.754087,0.572888,0.763851,1.012948,0.007323,1.041346,0.051130

In [80]:
res[3].head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
8,(Education Product),(Video Product),0.285714,0.526736,0.184358,0.645251,1.225000,0.033862,1.334083,0.257143
19,"(Education Product, Music Product)",(Video Product),0.085395,0.526736,0.053472,0.626168,1.188771,0.008491,1.265982,0.173621
11,"(Games Product, Music Product)",(Video Product),0.034318,0.526736,0.020750,0.604651,1.147921,0.002674,1.197080,0.133439
7,(Music Product),(Video Product),0.265762,0.526736,0.153232,0.576577,1.094622,0.013246,1.117709,0.117731
2,(Games Product),(Video Product),0.108540,0.526736,0.062251,0.573529,1.088837,0.005079,1.109723,0.091523